Repository shimarch/pylibs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, pyright

black:
  name: black
  entry: uv run python -m black
  language: system
  args:
  - --line-length=120

ruff:
  name: ruff
  entry: uv run python -m ruff
  language: system
  args:
  - check
  - --fix
  - --exit-non-zero-on-fix

pyright:
  name: pyright
  entry: uv run python -m pyright
  language: system
  require_serial: false

README.mdとpyproject.tomlにAPIリファレンスを追加し、structured_logger.pyのロガーリセット機能を実装
  README.md
  pyproject.toml
  smrlib/__init__.py
  smrlib/structured_logger.py
Due: black, ruff, pyright

バージョンを0.1.1から0.1.2に更新
  pyproject.toml
  smrlib/__init__.py
  smrlib/google_sheets_client.py
Due: black, ruff, pyright

ユニットテスト更新
  tests/test_google_sheets_client.py
Due: black, ruff

改善されたエラーハンドリングを使用してGoogle Sheets APIからのワークシートデータを取得するメソッドを更新
  pyproject.toml
  smrlib/google_sheet_client.py
Due: black, ruff, pyright

バージョンを0.1.2から0.1.3に更新し、extend-excludeの書式を整理
  pyproject.toml
Due: none

README.mdのインストールおよび更新セクションを整理し、使用方法を明確化
  README.md
Due: none

シートが存在しない場合に新しいワークシートを作成する機能を追加
  smrlib/google_sheets_client.py
Due: black, ruff, pyright

バージョンを0.1.3から0.1.4に更新
  pyproject.toml
Due: none

tabulateライブラリを追加し、テーブルデータを整形出力する機能をStructuredLoggerに追加
  pyproject.toml
  smrlib/structured_logger.py
Due: black, ruff, pyright

テーブル出力時のタイトルに絵文字を追加
  smrlib/structured_logger.py
Due: black, ruff, pyright

バージョンを0.1.5に更新し、タイトル出力時のスペースを追加
  pyproject.toml
  smrlib/structured_logger.py
Due: black, ruff, pyright

テーブル出力のサンプルデータを更新
  smrlib/structured_logger.py
Due: black, ruff, pyright

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  pyright: any of: \.py$, but not: ^tests/
